<%-include('partations/Header');  -%> 

   <div class='container-fluid body-content'>

       <% Posts.forEach(function(post) {  %>

       <% let bool %>

        <div class='content'>

           <h1 class='posttitle'> <%= post.title  %>   </h1>

            <img class='imagesize' src="data:image/<%=post.img.contentType%>;base64, <%=post.img.data.toString('base64')%>">

              <%  (post.content.length > 280) ?   bool = 'Read More' : bool = '' %> 
              <%  (inside)  ? bool = '' : null %>
              <%  (bool !== '') ? post.content = post.content.substr(0,280)+'...'  : null %> 

              

           <p>  <%= post.content %>  <a href="/<%= post.title %>" > <%= bool %> </a> </p>

          
           
        </div> <br>


     <%  })   %>

   </div>
  



<%- include('partations/Footer'); -%>